function TwoDArray.new 2
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 1
    push argument 1
    pop this 2
    push this 2
    push this 1
    call Math.multiply 2
    call Array.new 1
    pop this 0
label TwoDArray_0
    push local 0
    push this 2
    lt
    not
    if-goto TwoDArray_1
label TwoDArray_2
    push local 1
    push this 1
    lt
    not
    if-goto TwoDArray_3
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    push constant 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto TwoDArray_2
label TwoDArray_3
    push local 0
    push constant 1
    add
    pop local 0
    push constant 0
    pop local 1
    goto TwoDArray_0
label TwoDArray_1
    push constant 0
    pop local 0
    push pointer 0
    return
function TwoDArray.set 1
    push argument 0
    pop pointer 0
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    pop local 0
    push local 0
    push this 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function TwoDArray.get 1
    push argument 0
    pop pointer 0
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    pop local 0
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    return
function TwoDArray.findWinner 2
    push argument 0
    pop pointer 0
label TwoDArray_4
    push local 0
    push this 2
    lt
    not
    if-goto TwoDArray_5
    push pointer 0
    push local 0
    push local 1
    push local 0
    push local 1
    push constant 3
    add
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_7
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_6
label TwoDArray_7
label TwoDArray_6
    push pointer 0
    push local 0
    push local 1
    push constant 1
    add
    push local 0
    push local 1
    push constant 1
    add
    push constant 3
    add
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push constant 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_9
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push constant 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_8
label TwoDArray_9
label TwoDArray_8
    push pointer 0
    push local 0
    push local 1
    push constant 2
    add
    push local 0
    push local 1
    push constant 2
    add
    push constant 3
    add
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push constant 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_11
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push constant 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_10
label TwoDArray_11
label TwoDArray_10
    push local 0
    push constant 1
    add
    pop local 0
    goto TwoDArray_4
label TwoDArray_5
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label TwoDArray_12
    push local 1
    push this 1
    lt
    not
    if-goto TwoDArray_13
    push pointer 0
    push local 0
    push local 1
    push local 0
    push constant 3
    add
    push local 1
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_15
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_14
label TwoDArray_15
label TwoDArray_14
    push pointer 0
    push local 0
    push constant 1
    add
    push local 1
    push local 0
    push constant 1
    add
    push constant 3
    add
    push local 1
    call TwoDArray.isSimilar 5
    push local 0
    push constant 1
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_17
    push local 0
    push constant 1
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_16
label TwoDArray_17
label TwoDArray_16
    push pointer 0
    push local 0
    push constant 2
    add
    push local 1
    push local 0
    push constant 2
    add
    push constant 3
    add
    push local 1
    call TwoDArray.isSimilar 5
    push local 0
    push constant 2
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_19
    push local 0
    push constant 2
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_18
label TwoDArray_19
label TwoDArray_18
    push pointer 0
    push local 0
    push constant 3
    add
    push local 1
    push local 0
    push constant 3
    add
    push constant 3
    add
    push local 1
    call TwoDArray.isSimilar 5
    push local 0
    push constant 3
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_21
    push local 0
    push constant 3
    add
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_20
label TwoDArray_21
label TwoDArray_20
    push local 1
    push constant 1
    add
    pop local 1
    goto TwoDArray_12
label TwoDArray_13
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label TwoDArray_22
    push local 0
    push this 2
    push constant 3
    sub
    lt
    not
    if-goto TwoDArray_23
label TwoDArray_24
    push local 1
    push this 1
    push constant 3
    sub
    lt
    not
    if-goto TwoDArray_25
    push pointer 0
    push local 0
    push local 1
    push local 0
    push constant 3
    add
    push local 1
    push constant 3
    add
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_27
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_26
label TwoDArray_27
label TwoDArray_26
    push local 1
    push constant 1
    add
    pop local 1
    goto TwoDArray_24
label TwoDArray_25
    push constant 0
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto TwoDArray_22
label TwoDArray_23
    push constant 0
    pop local 0
    push this 1
    push constant 1
    sub
    pop local 1
label TwoDArray_28
    push local 0
    push this 2
    push constant 3
    sub
    lt
    not
    if-goto TwoDArray_29
label TwoDArray_30
    push local 1
    push constant 2
    gt
    not
    if-goto TwoDArray_31
    push pointer 0
    push local 0
    push local 1
    push local 0
    push constant 3
    add
    push local 1
    push constant 3
    sub
    call TwoDArray.isSimilar 5
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 2
    eq
    not
    and
    not
    if-goto TwoDArray_33
    push local 0
    push this 1
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
    goto TwoDArray_32
label TwoDArray_33
label TwoDArray_32
    push local 1
    push constant 1
    sub
    pop local 1
    goto TwoDArray_30
label TwoDArray_31
    push this 1
    push constant 1
    sub
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto TwoDArray_28
label TwoDArray_29
    push constant 2
    return
function TwoDArray.isSimilar 0
    push argument 0
    pop pointer 0
    push argument 2
    push argument 4
    eq
    not
    if-goto TwoDArray_35
label TwoDArray_36
    push argument 1
    push argument 3
    lt
    not
    if-goto TwoDArray_37
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 3
    push this 1
    call Math.multiply 2
    push argument 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    eq
    not
    not
    if-goto TwoDArray_39
    push constant 0
    return
    goto TwoDArray_38
label TwoDArray_39
label TwoDArray_38
    push argument 1
    push constant 1
    add
    pop argument 1
    goto TwoDArray_36
label TwoDArray_37
    push constant 1
    neg
    return
    goto TwoDArray_34
label TwoDArray_35
label TwoDArray_34
    push argument 1
    push argument 3
    eq
    not
    if-goto TwoDArray_41
label TwoDArray_42
    push argument 2
    push argument 4
    lt
    not
    if-goto TwoDArray_43
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 4
    add
    push this 0
    add
    pop pointer 1
    push that 0
    eq
    not
    not
    if-goto TwoDArray_45
    push constant 0
    return
    goto TwoDArray_44
label TwoDArray_45
label TwoDArray_44
    push argument 2
    push constant 1
    add
    pop argument 2
    goto TwoDArray_42
label TwoDArray_43
    push constant 1
    neg
    return
    goto TwoDArray_40
label TwoDArray_41
label TwoDArray_40
label TwoDArray_46
    push argument 2
    push argument 4
    lt
    not
    if-goto TwoDArray_47
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 3
    push this 1
    call Math.multiply 2
    push argument 4
    add
    push this 0
    add
    pop pointer 1
    push that 0
    eq
    not
    not
    if-goto TwoDArray_49
    push constant 0
    return
    goto TwoDArray_48
label TwoDArray_49
label TwoDArray_48
    push argument 2
    push constant 1
    add
    pop argument 2
    push argument 1
    push constant 1
    add
    pop argument 1
    goto TwoDArray_46
label TwoDArray_47
label TwoDArray_50
    push argument 4
    push argument 2
    lt
    not
    if-goto TwoDArray_51
    push argument 1
    push this 1
    call Math.multiply 2
    push argument 2
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 3
    push this 1
    call Math.multiply 2
    push argument 4
    add
    push this 0
    add
    pop pointer 1
    push that 0
    eq
    not
    not
    if-goto TwoDArray_53
    push constant 0
    return
    goto TwoDArray_52
label TwoDArray_53
label TwoDArray_52
    push argument 2
    push constant 1
    sub
    pop argument 2
    push argument 1
    push constant 1
    add
    pop argument 1
    goto TwoDArray_50
label TwoDArray_51
    push constant 1
    neg
    return