function ConnectGame.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push constant 6
    pop this 3
    push constant 7
    pop this 4
    push this 4
    call Array.new 1
    pop this 0
    push constant 0
    pop this 5
    push this 3
    push this 4
    call Board.new 2
    pop this 1
    push constant 0
    pop this 2
    call Screen.clearScreen 0
    pop temp 0
    push pointer 0
    return
function ConnectGame.drawBoard 4
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 129
    push constant 35
    push constant 379
    push constant 250
    call Screen.drawRectangle 4
    pop temp 0
    push constant 40
    pop local 1
    push constant 0
    pop local 2
    push constant 0
    pop local 3
label ConnectGame_0
    push local 3
    push constant 6
    lt
    not
    if-goto ConnectGame_1
    push constant 134
    pop local 0
label ConnectGame_2
    push local 2
    push constant 7
    lt
    not
    if-goto ConnectGame_3
    push local 2
    push constant 1
    add
    pop local 2
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push constant 30
    add
    push local 1
    push constant 30
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push constant 35
    add
    pop local 0
    goto ConnectGame_2
label ConnectGame_3
    push constant 0
    pop local 2
    push local 3
    push constant 1
    add
    pop local 3
    push local 1
    push constant 35
    add
    pop local 1
    goto ConnectGame_0
label ConnectGame_1
    push constant 0
    return
function ConnectGame.run 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
    push pointer 0
    call ConnectGame.drawBoard 1
    pop temp 0
    push constant 134
    push constant 5
    push pointer 0
    push constant 0
    call Square.new 4
    pop local 1
label ConnectGame_4
    push this 5
    not
    push local 2
    not
    and
    not
    if-goto ConnectGame_5
label ConnectGame_6
    push local 0
    push constant 0
    eq
    not
    if-goto ConnectGame_7
    call Keyboard.keyPressed 0
    pop local 0
    goto ConnectGame_6
label ConnectGame_7
    push local 0
    push constant 140
    eq
    not
    if-goto ConnectGame_9
    push constant 1
    neg
    pop local 2
    goto ConnectGame_8
label ConnectGame_9
    push local 0
    push constant 130
    eq
    not
    if-goto ConnectGame_11
    push local 1
    push constant 1
    call Square.move 2
    pop temp 0
    goto ConnectGame_10
label ConnectGame_11
    push local 0
    push constant 132
    eq
    not
    if-goto ConnectGame_13
    push local 1
    push constant 2
    call Square.move 2
    pop temp 0
    goto ConnectGame_12
label ConnectGame_13
    push local 0
    push constant 133
    eq
    push local 1
    call Square.getXi 1
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 6
    lt
    and
    not
    if-goto ConnectGame_15
    push local 1
    push constant 3
    call Square.move 2
    pop temp 0
    push this 1
    push local 1
    call Square.getXi 1
    push local 1
    call Square.getXi 1
    push this 0
    add
    pop pointer 1
    push that 0
    push this 2
    call Board.set 4
    pop temp 0
    push local 1
    call Square.getXi 1
    push this 0
    add
    push local 1
    call Square.getXi 1
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 1
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    call Square.dispose 1
    pop temp 0
    push constant 1
    push this 2
    sub
    pop this 2
    push constant 134
    push constant 5
    push pointer 0
    push this 2
    call Square.new 4
    pop local 1
    push this 1
    call Board.findWinner 1
    push constant 2
    eq
    not
    not
    if-goto ConnectGame_17
    push constant 1
    neg
    pop this 5
    goto ConnectGame_16
label ConnectGame_17
label ConnectGame_16
    goto ConnectGame_14
label ConnectGame_15
label ConnectGame_14
label ConnectGame_12
label ConnectGame_10
label ConnectGame_8
    push constant 0
    pop local 0
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto ConnectGame_4
label ConnectGame_5
    push local 2
    not
    if-goto ConnectGame_19
    call Screen.clearScreen 0
    pop temp 0
    push constant 10
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 19
    call String.new 1
    push constant 89
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
label ConnectGame_20
    push local 0
    push constant 0
    eq
    not
    if-goto ConnectGame_21
    call Keyboard.keyPressed 0
    pop local 0
    push this 1
    call Board.dispose 1
    pop temp 0
    push constant 0
    return
    goto ConnectGame_20
label ConnectGame_21
    goto ConnectGame_18
label ConnectGame_19
label ConnectGame_18
    push this 5
    not
    if-goto ConnectGame_23
    push pointer 0
    call ConnectGame.showResults 1
    pop temp 0
    goto ConnectGame_22
label ConnectGame_23
label ConnectGame_22
    push this 1
    call Board.dispose 1
    pop temp 0
    push constant 0
    return
function ConnectGame.showResults 2
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push this 1
    call Board.findWinner 1
    pop local 1
    push pointer 0
    call ConnectGame.CheckIfBoardFull 1
    pop local 0
    push local 0
    push local 1
    push constant 2
    eq
    and
    not
    if-goto ConnectGame_25
    push constant 9
    push constant 27
    call Output.moveCursor 2
    pop temp 0
    push constant 11
    call String.new 1
    push constant 73
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10
    push constant 27
    call Output.moveCursor 2
    pop temp 0
    push constant 9
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    goto ConnectGame_24
label ConnectGame_25
    push constant 9
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 7
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push local 1
    push constant 0
    eq
    not
    if-goto ConnectGame_27
    push constant 5
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    goto ConnectGame_26
label ConnectGame_27
    push constant 5
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
label ConnectGame_26
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 27
    call Output.moveCursor 2
    pop temp 0
    push constant 9
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
label ConnectGame_24
    push constant 0
    return
function ConnectGame.CheckIfBoardFull 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label ConnectGame_28
    push local 1
    push constant 7
    lt
    not
    if-goto ConnectGame_29
    push local 0
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    add
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto ConnectGame_28
label ConnectGame_29
    push local 0
    push constant 42
    eq
    not
    if-goto ConnectGame_31
    push constant 1
    neg
    return
    goto ConnectGame_30
label ConnectGame_31
label ConnectGame_30
    push constant 0
    return
function ConnectGame.getCountInColumn 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    return
function ConnectGame.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return